.modal {
  z-index: 3;
}

.create-event {
  position: relative;
  padding: 10px;

  &__close-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    border: none;
    background-color: transparent;
    z-index: 1;

    &:hover {
      border: 1px solid $dark-grey;
      background-color: $light-grey;
      border-radius: 3px;
    }

    & .close-btn-icon {
      position: relative;
      top: 2px;
    }
  }
}

.event-form {
  position: relative;

  &__field {
    border: none;
    margin-bottom: 30px;
    font-size: 25px;
    outline: none;
    width: 100%;

    &_title {
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__time {
    margin-bottom: 30px;
    
    &_date {
      border: none;
      outline: none;
      width: 120px;
      font-size: 15px;
    }

    &_hours-min {
      border: none;
      outline: none;
      width: 90px;
      font-size: 15px;
    }
  }

  &__submit-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    border: 0.5px solid $light-grey;
    background-color: white;

    &:hover {
      background-color: $light-grey;
      border: 2px solid $dark-grey;
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  width: 20px;
  padding: 0px;
  margin: 0px;
  position: relative;
  right: 10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  width: 20px;
  padding: 0px;
  margin: 0px;
  position: relative;
  right: -2px;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  position: relative;
  right: 3px;
}