.create-event {
  padding: 10px;
  position: relative;

  &__close-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: transparent;
    border: none;
    z-index: 1;

    &:hover {
      border: 1px solid $dark-grey;
      background-color: $light-grey;
      border-radius: 3px;
    }

    & .close-btn-icon {
      position: relative;
      top: 2px;
    }
  }
}

.event-form {
  position: relative;

  &__field {
    width: 100%;
    border: none;
    outline: none;
    font-size: 25px;
    margin-bottom: 30px;

    &_title {
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__time {
    margin-bottom: 30px;
    
    &_date {
      width: 120px;
      font-size: 15px;
    }

    &_hours-min {
      width: 90px;
      font-size: 15px;
    }
  }

  &__submit-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    border: 0.5px solid $light-grey;
    border-radius: 3px;

    &:hover {
      background-color: $light-grey;
      border: 2px solid $dark-grey;
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: relative;
  right: 10px;
  margin: 0px;
}

input[type=time]::-webkit-datetime-edit-hour-field {
  padding: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  position: relative;
  right: 2px;
  margin: 0px;
}

input[type=time]::-webkit-datetime-edit-ampm-field {
  position: relative;
  right: 3px;
}