.calendar__time-scale {
  width: 90px;

  & .time-slot {
    height: 60px;
    position: relative;

    & .short-vertical-line {
      position: absolute;
      top: -46px;
      right: -1px;
      height: 45px;
      width: 1px;
      z-index: 4;
      background: linear-gradient(to top, $light-grey, white);
    }

    &__time {
      position: absolute;
      bottom: -6px;
      right: 30px;
      font-size: 12px;
      opacity: 0.8;
    }

    & .short-horizontal-line {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      width: 30px;
      background: linear-gradient(to left, $light-grey, white);
    }
  }
}